<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
</head>
<body>

<nav th:replace="layouts :: navBar"></nav>
<a href="employees/new">New Employee</a>
<h4>Current Employees</h4>
<table>
    <tr>
        <th>Employee First Name</th>
        <th>Employee Last Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="employee: ${employees}">
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.email}"></td>
    </tr>
</table>
</body>
</html>

