<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
</head>
<body>

    <nav th:replace="layouts :: navBar"></nav>
    <h4>Current Projects</h4>
    <table>
        <tr>
            <th>Project Name</th>
            <th>Project Stage</th>
        </tr>
        <tr th:each="project: ${projects}">
            <td th:text="${project.name}"></td>
            <td th:text="${project.stage}"></td>
        </tr>
    </table>
    <h4>Current Employees</h4>
    <table>
        <tr>
            <th>Employee First Name</th>
            <th>Employee Last Name</th>
            <th>Email</th>
        </tr>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
        </tr>
    </table>
</body>
</html>

